version: "3"

services:
  {{package_distribution_name}}:
    image: {{github_username}}/{{package_distribution_name}}:latest
    build: .
    container_name: {{project_name}}
    restart: unless-stopped
