[tool.poetry]
name = "{{ package_distribution_name }}"
version = "0.1.0"
description = "{{ project_description }}"
authors = ["{{ github_username }}"]
readme = "README.md"
repository = "https://github.com/{{ github_repository_namespace }}/{{ github_repository_name }}"
homepage = "https://github.com/{{ github_repository_namespace }}/{{ github_repository_name }}"
{{ "" if copyright_license == "None" else 'license = "' ~ copyright_license ~ '"' }}
keywords = []
packages = [{include = "{{ package_import_name }}"}]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.2.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
